@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Open+Sans:wght@300;400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
    /* declarando variáveis para uso posterior*/
    --corprimaria: #5F0004;
    --corsecundaria: #222;
    --corterciaria: white;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    background: var(--corprimaria);
    background-image: url(/assets/img/bg-redtexture.png);
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
}

/* Header / Nav-Menu */


header .header-topo {
    background-color: var(--corsecundaria);
    background-image: url(/assets/img/bg-blacktexture.png);
    width: 100%;
    height: 100px;
    padding: 3px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-topo .logo {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-topo .logo img {
    height: 75px;
}

.header-topo .logo-nome {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
}

.header-topo .logo-nome .logo-sobrenome-time {
    display: flex;
    flex-direction: row;
}

.header-topo .logo a {
    font-weight: 300;
    color: var(--corterciaria);
    text-decoration: none;
    font-size: 35px;
    margin-left: 13px;
}

.socio-sociais {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.redes-sociais ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.redes-sociais ul i {
    color: var(--corterciaria);
    margin: 20px;
    font-size: 1.5em;
    transition: all 0.3s ease;
}

.redes-sociais ul i:hover {
    transform: scale(0.98);
    color: var(--corprimaria);
}

header .hr {
    width: 100%;
    height: 3px;
    background: rgba(255, 255, 255, 0.76);
}

nav {
    background: var(--corprimaria);
    background-image: url(/assets/img/bg-redtexture.png);
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    padding: 0 50px;
    align-items: center;
}

nav ul {
    top: 8px;
    display: flex;
    flex-wrap: wrap;
    color: var(--corterciaria);
}

nav ul li {
    list-style: none;
    margin: 0 20px;
    
}

nav ul li a {
    position: relative;
    color: var(--corterciaria);
    font-size: 17px;
    font-weight: 300;
    top: 8px;
    letter-spacing: 2px;
    padding: 6px 0;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover {
    transform: scale(1.70);
    transition: all 0.3s ease;
    color: var(--corsecundaria);
    font-weight: 700;
    text-decoration: none;
}

nav ul li div{
    top: 8px;
}

.nav-menu-button {
    display: none;
    align-items: center;
}

.nav-menu-button .icon {
    position: relative;
    height: 65px;
    width: 65px;
    border-radius: 6px;
    cursor: pointer;
    margin: 0 8px;
    transition: all 0.3s ease;
}

.box .icon.active {
    background: #FF676D;
}

.box .icon.line.active {
    background: #FFF;
}

.icon i {
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 50%;
    color: var(--corterciaria);
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
}

.icon.active i {
    color: var(--corterciaria)
}

.icon.line.active i {
    color: #333;
}

.icon i.close {
    opacity: 0;
}

.icon.active i.close {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(180deg);
}

.icon.active i.open {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(180deg);
}

.icon.line.active i.close {
    transform: translate(-50%, -50%) rotate(0deg);
}

.icon.line.active i.open {
    transform: translate(-50%, -50%) rotate(0deg);
}

/* Estilos para todas as Sessões */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-text-center {
    text-align: center;
}

.sessao {
    position: relative;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 2rem 2rem;
    /* 6rem 2rem 2rem */
}

.sub-sessao {
    position: relative;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 0;
}

.titulo-sessao {
    text-transform: uppercase;
    font-size: 4.5em;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    color: var(--corterciaria);
}

.subtitulo-sessao {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--corsecundaria);
}

.container {
    position: relative;
    flex-direction: column;
}

body .hr {
    width: 100%;
    height: 3px;
    background: rgba(255, 255, 255, 0.76);
}

/* Sessão Principal */

.principal {
    max-width: 100%;
    background: var(--corprimaria);
    background-image: url(/assets/img/bg-redtexture.png);
}

/* Main Slider Principal */

/* Slider */

.carousel-inner {
    width: 100%;
}

.slider-img {
    position: relative;
}

.slider-img img {
    object-fit: cover;
    object-position: center middle;
    min-height: 40vh;
    max-height: 70vh;
}

.slider-conteudo {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Notícias */

#noticias {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.noticias {
    display: flex;
    flex-direction: column;
}

.noticias .jornal {
    width: 100%;
}

.lista-de-noticias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    margin: 0 auto;
    gap: 20px;
    list-style: none;
}

.card-noticia {
    display: flex;
    flex-direction: row;
    background: var(--corterciaria);
    border-bottom: 3px solid var(--corsecundaria);
    padding: 20px;
    border-radius: 6px;
    box-shadow: #000000;
}

.card-noticia img {
    max-width: 150px;
}

.texto-noticia {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 1px;
}

.texto-noticia h3 {
    font-size: 1.5em;
    font-weight: 600;
}

.texto-noticia p {
    margin-bottom: 10px;
}

.botao-leia-mais {

    font-size: 1.2em;
    cursor: pointer;
}

.botao-leia-mais a {
    color: var(--corprimaria);
    text-decoration: none;
}

.noticia-modal {
    z-index: 999999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #130001ab;
    backdrop-filter: blur(10px);
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
}

.noticia-modal.active {
    visibility: visible;
    opacity: 1;
}

.noticia-modal-body {
    position: relative;
    background: var(--corterciaria);
    width: 900px;
    padding: 40px;
    justify-content: center;
}

.noticia-modal-body .modal-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
}

.noticia-modal-body h3 {
    font-size: 1.5em;
    font-weight: 600;
}

.noticia-modal-body p {
    margin-bottom: 10px;
}

/* Jogos e Calendário */

.calendario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 7rem;
}

.jogos-e-calendario {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.container-esquerdo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-esquerdo .proxima-partida{
    width: 100%;
    padding: 1rem 2rem;
    margin: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, .45), rgba(0, 0, 0, .45)100%), url(/assets/img/bg-ilhadoretiro.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-esquerdo .ultima-partida{
    width: 100%;
    padding: 1rem 2rem;
    background-image: linear-gradient(rgba(0, 0, 0, .45), rgba(0, 0, 0, .45)100%), url(/assets/img/bg-arena-pe.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titulo-partida {
    text-transform: uppercase;
    color: var(--corterciaria);
    margin-bottom: 10px;
}

.partida {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.partida img {
    width: 70px;
}

.partida .versus {
    color: var(--corterciaria);
    font-size: 3rem;
    font-weight: 600;
    margin: 20px;
}

.descricao-partida {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
    text-transform: uppercase;
    color: var(--corterciaria);
}

.container-direito {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}

.container-direito .container-partidas {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.container-partidas h1 {
    color: var(--corterciaria);
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 1rem;
}

.container-direito .ultimas-partidas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 5px;
}

.jogo {
    background:#5F00041a; 
}

.jogo p {
    margin-top: 14px;
}

.jogo .descricao-partida-passada {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 0;
    color: whitesmoke;
    text-transform: uppercase;
}

.jogo .partida-passada {
    background: var(--corterciaria);
    min-height: 70px;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.jogo .partida-passada img {
    height: 30px;
}

/* Loja */
#loja-virtual {
    background-color: #000000;
    background-image: url(/assets/img/bg-blacktexture.png);
    background-position: center;
    max-width: 100%;
    padding-bottom: 5rem;
}

.loja .container .conteudo {
    width: 100%;
}

.lista-de-itens {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
    max-width: 100%;
    margin: 0 auto;
    gap: 20px;
    list-style: none;
}

.item-card {
    display: flex;
    flex-direction: column;
    background: var(--corterciaria);
    border-bottom: 3px solid var(--corprimaria);
    padding: 20px;
    border-radius: 6px;
    box-shadow: #000000;
    min-height: 345px;
}

/* .item-card img {
    height: 100%;
    width: 100%;
}*/

.item-card>img {
    max-width: 100%;
}

.item-card h3 {
    font-size: 1em;
}

.item-card h1 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
}

.botao-comprar button {
    color: var(--corprimaria);
    font-weight: 400;
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 6px;
    outline: none;
    border: none;
    background: #bedfbe0e;
    transition: all 0.3s ease;
}

.botao-comprar button:hover {
    transform: scale(0.98);
    background: var(--corprimaria);
    color: var(--corterciaria);
}

/* Elenco */

#elenco {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.container-elenco {
    display: flex;
    flex-direction: column;
}

.swiper {
    width: 90%;
    height: 100%;
}

.swiper-slide {
    padding: 1rem;
    text-align: center;
    font-size: 18px;
    background-color: #130001ab;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;

    color: var(--corterciaria);
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.elenco-detalhes h3 {
    text-transform: uppercase;
    font-weight: 400;
}

/* Footer */

.patrocinadores {
    background: #000000;
    padding-top: 3rem ;
    display: flex;
    flex-direction: column;
}

.patrocinadores ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.logos-patrocinadores img {
    width: 165px;
    height: 100px;
    margin: 30px;
    
    opacity: 0.6;
}

.logos-patrocinadores img:hover {
    opacity: 1;
}

footer {
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 3rem 2rem;
    color: var(--corterciaria);
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-width: 1300px;
    padding: 1rem 1rem;
}

.footer-titulo {
    text-transform: uppercase;
    color: var(--corterciaria);
    font-weight: 300;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgba(34, 34, 34, 0.171);
    border-radius: 5px;
    padding: 1rem;
}

.logo-sobre img {
    width: 70px;
}

.logo-sobre h3 {
    color: var(--corterciaria);
    font-weight: 200;
    letter-spacing: 2px;
}

.menu-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 10px;
    letter-spacing: 2px;
}

.menu-sobre a {
    color: var(--corterciaria);
    text-decoration: none;
    text-transform: uppercase;
    margin: 2px 0 2px;
}

.menu-sobre a:hover {
    color: var(--corprimaria);

}

.redes-sociais-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redes-sociais-footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.redes-sociais-footer ul i {
    color: var(--corterciaria);
    margin: 30px;
    font-size: 1.5em;
    transition: all 0.3s ease;
}

.redes-sociais-footer ul i:hover {
    color: var(--corprimaria);
}

.footer-copyright {
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--corterciaria);
    font-weight: 200;
    letter-spacing: 1px;
}

@media screen and (max-width: 1131px) {
    /* Header */
    .seja-socio img {
        display: none;
    }
}

@media screen and (max-width: 889px) {
    /* Calendário e Jogos */
    .container-direito .container-partidas h1{
    font-size: 1.5em;    
    }
}

@media screen and (max-width: 829px) {
    .header-topo .logo a {
        font-weight: 300;
        font-size: 25px;
    }
}

@media screen and (max-width: 805px) {
    body {
        overflow-x: hidden;
    }
    
    /* Header e NavBar */
    
    .redes-sociais ul i {
        margin: 10px;
        font-size: 1.5em;
    }
    
    nav {
        height: 0.1px;
    }

    .nav-links {
        z-index: 99999;
        display: fixed;
        position: absolute;
        top: 0px;
        right: 0;
        width: 50vw;
        height: 50vh;
        padding: 2rem;
        border-left: 4px solid #000000;
        border-bottom: 4px solid #000000;
        background-color: var(--corprimaria);
        background-image: url(/assets/img/bg-redtexture.png);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-links .separador {
        display: none;
    }

    .nav-menu-button {
        display: block;
    }

    .nav-links.active {
        transform: translateX(0);
    }

    /* Notícias */
    .lista-de-noticias {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    /* Calendário e Jogos */
    .jogos-e-calendario {
        display: flex;
        flex-direction: column;
    }

    .container-direito {
        padding-top: 3rem;
    }

    /* Footer */

    .patrocinadores ul {
        flex-direction: column;
    }

    .footer-container {
        flex-direction: column;
    }

    .logo-sobre {
        max-width: 100%;
    }

    .menu-sobre {
        margin: 40px 0 40px;
    }
}

@media screen and (max-width: 729px) {
    .redes-sociais {
        display: none;
    }
}

@media screen and (max-width: 675px) {
    /* Estilos para todas as Sessões */
    .titulo-sessao {
        font-size: 3em;
    }

    .subtitulo-sessao {
        font-size: 1.7em;
    }

    /* Header / Nav-Menu */

    header .header-topo {
        justify-content: space-around;
    }

    .socio-sociais {
        display: none;
    }
}

@media screen and (max-width: 540px) {

    header .header-topo {
        padding: 3px 20px;
    }

    .header-topo .logo-nome {
        display: flex;
        flex-direction: column;
    }

    .header-topo .logo-nome .logo-sobrenome-time {
        font-size: 18px;
    }
}

@media screen and (max-width: 386px) {
    .header-topo .logo-nome {
        display: none;
    }
}